---
default:
  tags:
    - cd-gcp-vpodg1np
  image: carrefour-public-docker-virtual.enterpriserepo.fr.carrefour.com/osfactory/ansible:9
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
      - api_failure
  timeout: 1h

variables:
  ANSIBLE_PARAMS: "-v"
  VAULT_LDAP_USERNAME: "fr_srv_ilm_ap2r_dev_vault"
  OPERATION:
    value: "deploy"
    options:
      - "deploy"
      - "rollback"
    description: "Operation à effectuer"
  ENV:
    value: "recette"
    options:
      - "dev"
      - "recette"
      - "preprod"
      - "prod"
    description: "Environnement cible de l'opération"

stages:
  - ansible

.ansible_template:
  stage: ansible
  id_tokens:
    VAULT_ID_TOKEN:
      aud: https://gitlab.com
  secrets:
    # Define required variable for authentication
    DOCKER_AUTH_CONFIG:
      # Syntax : secret_name/secret_field@kv_name
      vault: ""
      file: false
    VAULT_LDAP_PASSWORD:
      vault: ""
      file: false
  before_script:
    # Get Temporary Vault token using LDAP auth
    - >
      export VAULT_TOKEN=$(vault login 
      -method=ldap -address https://vault.agilefabric.fr.carrefour.com 
      -tls-skip-verify username=$VAULT_LDAP_USERNAME password=$VAULT_LDAP_PASSWORD -format=json | 
      jq -r '.auth.client_token')

duas:
  extends: .ansible_template
  script:
    - export ANSIBLE_HASHI_VAULT_TOKEN=$VAULT_TOKEN
    - export ANSIBLE_CONFIG=${CI_PROJECT_DIR}/ansible/ansible.cfg
    - |
      cd ansible && \
      ansible-playbook -i inventory/$ENV/hosts.yml \
        playbooks/duas.yml \
        -e "env=$ENV" \
        --tags $OPERATION \
        $ANSIBLE_PARAMS
  only:
    - main
  when: manual
