---
- name: Check if DUAS installation exists
  stat:
    path: "{{ duas_install_dir }}/{{ duas_company }}_{{ duas_node }}/bin/unidlt"
  register: duas_binary

- name: Fail if DUAS is not installed
  fail:
    msg: "DUAS installation not found at {{ duas_install_dir }}/{{ duas_company }}_{{ duas_node }}/bin/unidlt"
  when: not duas_binary.stat.exists

- name: Check if UVMS registration marker exists
  stat:
    path: "{{ duas_install_dir }}/{{ duas_company }}_{{ duas_node }}/data/uvms_registered"
  register: uvms_marker

- name: Register DUAS with UVMS
  shell: |
    source {{ duas_install_dir }}/{{ duas_company }}_{{ duas_node }}/unienv.ksh
    {{ duas_install_dir }}/{{ duas_company }}_{{ duas_node }}/bin/unims -register \
      -uvms {{ uvms_hostname }} \
      -port {{ uvms_port }} \
      -login "{{ uvms_admin_user }}" \
      -pwd "{{ uvms_admin_password }}"
  args:
    executable: /bin/ksh
  become_user: "{{ duas_user }}"
  when: not uvms_marker.stat.exists
  register: uvms_registration
  changed_when: uvms_registration.rc == 0
  no_log: true

- name: Create UVMS registration marker
  file:
    path: "{{ duas_install_dir }}/{{ duas_company }}_{{ duas_node }}/data/uvms_registered"
    state: touch
    owner: "{{ duas_user }}"
    group: "{{ duas_group }}"
    mode: "0644"
  when: uvms_registration is defined and uvms_registration.rc == 0

- name: Create systemd service file
  template:
    src: duas.service.j2
    dest: "/etc/systemd/system/duas_{{ duas_company }}.service"
    mode: "0644"
  notify: Reload systemd
  register: service_file

- name: Reload systemd if service file changed
  systemd:
    daemon_reload: yes
  when: service_file is changed

- name: Enable DUAS service
  systemd:
    name: "duas_{{ duas_company }}.service"
    enabled: yes

- name: Start DUAS service if not running
  systemd:
    name: "duas_{{ duas_company }}.service"
    state: started
  register: service_start
  changed_when: service_start.changed
