---
- name: Install required packages
  yum:
    name: "{{ required_packages }}"
    state: present

- name: Create installation directory
  file:
    path: "{{ duas_install_dir }}"
    state: directory
    owner: "{{ duas_user }}"
    group: "{{ duas_group }}"
    mode: "0755"

- name: Install iptables-services package
  yum:
    name: iptables-services
    state: present

- name: Configure iptables rules for UVMS communication
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ item }}"
    ctstate: NEW
    jump: ACCEPT
    action: insert
    rule_num: 1
    comment: "Dollar Universe UVMS communication"
  loop: "{{ uvms_ports }}"
  loop_control: "item"
  notify: Save iptables rules
